In [3]:
#Dataframe is two-dimensional. It has rows and columns. It is a data structure provided by the pandas library to create tabulated data.

In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
#heading: country, year, sales, profit

In [7]:
#To create your own dataset without having to import it by using dataframe. Here we are creating categories like (region,country) and values like (year,sales,profit)

In [8]:
data={"Region":["Asia","Asia","Europe","Europe","America","America"],"Country":["China","India","France","Italy","USA","Canada"],"Year":[2025,2023,2024,2022,2021,2025],"Sales":[20000,30000,40000,50000,60000,70000],"Profit":[300,400,500,600,700,800]}

In [9]:
df=pd.DataFrame(data) #"." + tab to select DataFrame
df

    Region Country  Year  Sales  Profit
0     Asia   China  2025  20000     300
1     Asia   India  2023  30000     400
2   Europe  France  2024  40000     500
3   Europe   Italy  2022  50000     600
4  America     USA  2021  60000     700
5  America  Canada  2025  70000     800

In [10]:
df["Country"][1]

'India'

In [11]:
#groupby is a function used to split a DataFrame intro groups based on one or more criteria.

In [12]:
df.groupby("Region")["Sales"].mean()

Region
America    65000.0
Asia       25000.0
Europe     45000.0
Name: Sales, dtype: float64

In [13]:
df.groupby("Region")["Sales"].sum()

Region
America    130000
Asia        50000
Europe      90000
Name: Sales, dtype: int64

In [14]:
df.groupby("Region")["Sales"].count()

Region
America    2
Asia       2
Europe     2
Name: Sales, dtype: int64

In [15]:
df.groupby("Region")["Sales"].min()

Region
America    60000
Asia       20000
Europe     40000
Name: Sales, dtype: int64

In [16]:
df.groupby("Region")["Sales"].max()

Region
America    70000
Asia       30000
Europe     50000
Name: Sales, dtype: int64

In [17]:
#Series:

In [1]:
ice_cream=["strawberry","chocolate","vanilla","mango"]