In [2]:
import pandas as pd
import numpy as np

In [3]:
nba=pd.read_csv(r"C:\Users\nihar\Downloads\nba.csv")
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#To split data: Here we're splitting the data in column 'Height' into feet and inches. For eg: 6-7 = 6ft 7inches

In [10]:
nba[["Feet","Inch"]]=nba["Height"].str.split("-",expand=True)
nba[["Feet","Inch"]]

    Feet Inch
0      6    7
1      6    5
2      6    5
3      6   10
4      6   10
..   ...  ...
587    6    3
588    6    4
589    6   10
590    6    5
591  NaN  NaN

[592 rows x 2 columns]

In [11]:
nba

,Name,Team,Position,Height,Weight,College,Salary,Feet,Inch,feet,inch
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,6,7,6,7
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,6,5,6,5
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,6,5,6,5
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,6,10,6,10
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,6,10,6,10
...,...,...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,6,3,6,3
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,6,4,6,4
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,6,10,6,10
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,6,5,6,5
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    object
 2   Position  584 non-null    object
 3   Height    585 non-null    object
 4   Weight    584 non-null    float64
 5   College   578 non-null    object
 6   Salary    488 non-null    float64
 7   Feet      585 non-null    object
 8   Inch      585 non-null    object
 9   feet      585 non-null    object
 10  inch      585 non-null    object
dtypes: float64(2), object(9)
memory usage: 51.0+ KB

In [14]:
#Convert "Feet" and "Inch" to numeric data/float instead of object

In [15]:
nba.Feet.astype("float")

0      6.0
1      6.0
2      6.0
3      6.0
4      6.0
      ...
587    6.0
588    6.0
589    6.0
590    6.0
591    NaN
Name: Feet, Length: 592, dtype: float64

In [17]:
nba.Feet=nba.Feet.astype("float")
nba.Feet

0      6.0
1      6.0
2      6.0
3      6.0
4      6.0
      ...
587    6.0
588    6.0
589    6.0
590    6.0
591    NaN
Name: Feet, Length: 592, dtype: float64

In [18]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    object
 2   Position  584 non-null    object
 3   Height    585 non-null    object
 4   Weight    584 non-null    float64
 5   College   578 non-null    object
 6   Salary    488 non-null    float64
 7   Feet      585 non-null    float64
 8   Inch      585 non-null    object
 9   feet      585 non-null    object
 10  inch      585 non-null    object
dtypes: float64(3), object(8)
memory usage: 51.0+ KB

In [19]:
nba[["Feet","Inch"]]=nba[["Feet","Inch"]].apply(pd.to_numeric)

In [20]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    object
 2   Position  584 non-null    object
 3   Height    585 non-null    object
 4   Weight    584 non-null    float64
 5   College   578 non-null    object
 6   Salary    488 non-null    float64
 7   Feet      585 non-null    float64
 8   Inch      585 non-null    float64
 9   feet      585 non-null    object
 10  inch      585 non-null    object
dtypes: float64(4), object(7)
memory usage: 51.0+ KB

In [21]:
#Items 7 and 8 or 'Feet' and 'Inch' are now floats

In [23]:
nba["Feet"]*30.48+nba["Inch"]*2.54 #This is called broadcast.

0      200.66
1      195.58
2      195.58
3      208.28
4      208.28
        ...
587    190.50
588    193.04
589    208.28
590    195.58
591       NaN
Length: 592, dtype: float64

In [24]:
#Here we've converted Feet to inches (1ft=30.48inches) and Inch to centimetres (1inch=2.54cms)

In [25]:
nba["Height_in_centimetre"]=nba["Feet"]*30.48+nba["Inch"]*2.54

In [26]:
nba

,Name,Team,Position,Height,Weight,College,Salary,Feet,Inch,feet,inch,Height_in_centimetre
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,6.0,7.0,6,7,200.66
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,6.0,5.0,6,5,195.58
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,6.0,5.0,6,5,195.58
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,6.0,10.0,6,10,208.28
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,6.0,10.0,6,10,208.28
...,...,...,...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,6.0,3.0,6,3,190.50
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,6.0,4.0,6,4,193.04
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,6.0,10.0,6,10,208.28
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,6.0,5.0,6,5,195.58
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
nba.College.dropna()

0          Villanova
1         Fenerbahce
2           Michigan
3        Elan Chalon
4           Maryland
           ...
586         Michigan
587           Toledo
588    Wichita State
589      Real Madrid
590             Utah
Name: College, Length: 578, dtype: object

In [36]:
nba["Height_in_centimetre"]=nba["Feet"]*30.48+nba["Inch"]*2.54
nba

,Name,Team,Position,Height,Weight,College,Salary,Feet,Inch,feet,inch,Height_in_centimetre
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,6.0,7.0,6,7,200.66
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,6.0,5.0,6,5,195.58
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,6.0,5.0,6,5,195.58
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,6.0,10.0,6,10,208.28
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,6.0,10.0,6,10,208.28
...,...,...,...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,6.0,3.0,6,3,190.50
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,6.0,4.0,6,4,193.04
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,6.0,10.0,6,10,208.28
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,6.0,5.0,6,5,195.58
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
nba.drop("Height_in_centimetre",axis=1) #dropping the last column

,Name,Team,Position,Height,Weight,College,Salary,Feet,Inch,feet,inch
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,6.0,7.0,6,7
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,6.0,5.0,6,5
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,6.0,5.0,6,5
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,6.0,10.0,6,10
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,6.0,10.0,6,10
...,...,...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,6.0,3.0,6,3
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,6.0,4.0,6,4
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,6.0,10.0,6,10
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,6.0,5.0,6,5
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
nba.drop("Height_in_centimetre",axis=1)

,Name,Team,Position,Height,Weight,College,Salary,Feet,Inch,feet,inch
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,6.0,7.0,6,7
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,6.0,5.0,6,5
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,6.0,5.0,6,5
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,6.0,10.0,6,10
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,6.0,10.0,6,10
...,...,...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,6.0,3.0,6,3
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,6.0,4.0,6,4
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,6.0,10.0,6,10
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,6.0,5.0,6,5
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
nba.drop("Height_in_centimetre",axis=1) #dropping the last column

,Name,Team,Position,Height,Weight,College,Salary,Feet,Inch,feet,inch
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,6.0,7.0,6,7
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,6.0,5.0,6,5
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,6.0,5.0,6,5
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,6.0,10.0,6,10
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,6.0,10.0,6,10
...,...,...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,6.0,3.0,6,3
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,6.0,4.0,6,4
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,6.0,10.0,6,10
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,6.0,5.0,6,5
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN