In [4]:
import pandas as pd
import numpy as np

In [6]:
nba=pd.read_csv(r"C:\Users\nihar\Downloads\nba.csv")
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#Add a new column

In [12]:
nba["nba"]=""
nba

,Name,Team,Position,Height,Weight,College,Salary,nba,My_Name
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,,Niharika
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,,Niharika
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,,Niharika
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,,Niharika
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,,Niharika
...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,,Niharika
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,,Niharika
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,,Niharika
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,,Niharika
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,Niharika

In [13]:
#Reduce salary by 5%

In [21]:
nba["Red_Salary"]=nba["Salary"]*5/100
nba

,Name,Team,Position,Height,Weight,College,Salary,nba,My_Name,Red_Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,,Niharika,227849.15
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,,Niharika,935000.00
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,,Niharika,204712.20
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,,Niharika,1030800.00
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,,Niharika,129076.10
...,...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,,Niharika,85993.20
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,,Niharika,512500.00
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,,Niharika,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,,Niharika,409756.10
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,Niharika,NaN

In [22]:
nba["New_Red_Salary"]=nba["Salary"]-nba["Red_Salary"]
nba

,Name,Team,Position,Height,Weight,College,Salary,nba,My_Name,Red_Salary,New_Red_Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,,Niharika,227849.15,4329133.85
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,,Niharika,935000.00,17765000.00
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,,Niharika,204712.20,3889531.80
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,,Niharika,1030800.00,19585200.00
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,,Niharika,129076.10,2452445.90
...,...,...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,,Niharika,85993.20,1633870.80
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,,Niharika,512500.00,9737500.00
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,,Niharika,NaN,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,,Niharika,409756.10,7785365.90
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,Niharika,NaN,NaN

In [23]:
#Use dropna to remove rows with NaN

In [25]:
nba.dropna(axis=0,how="any")

,Name,Team,Position,Height,Weight,College,Salary,nba,My_Name,Red_Salary,New_Red_Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,,Niharika,227849.15,4329133.85
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,,Niharika,935000.00,17765000.00
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,,Niharika,204712.20,3889531.80
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,,Niharika,1030800.00,19585200.00
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,,Niharika,129076.10,2452445.90
...,...,...,...,...,...,...,...,...,...,...,...
585,Eugene Omoruyi,Washington Wizards,F,6-6,235.0,Oregon,559782.0,,Niharika,27989.10,531792.90
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0,,Niharika,1397767.85,26557589.15
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,,Niharika,85993.20,1633870.80
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,,Niharika,512500.00,9737500.00
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,,Niharika,409756.10,7785365.90

In [26]:
#Convert height in centimetre

In [29]:
nba[["Feet","Inch"]]=nba["Height"].str.split("-",expand=True)
nba[["Feet","Inch"]]

    Feet Inch
0      6    7
1      6    5
2      6    5
3      6   10
4      6   10
..   ...  ...
587    6    3
588    6    4
589    6   10
590    6    5
591  NaN  NaN

[592 rows x 2 columns]

In [30]:
nba

,Name,Team,Position,Height,Weight,College,Salary,nba,My_Name,Red_Salary,New_Red_Salary,Feet,Inch
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,,Niharika,227849.15,4329133.85,6,7
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,,Niharika,935000.00,17765000.00,6,5
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,,Niharika,204712.20,3889531.80,6,5
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,,Niharika,1030800.00,19585200.00,6,10
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,,Niharika,129076.10,2452445.90,6,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,,Niharika,85993.20,1633870.80,6,3
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,,Niharika,512500.00,9737500.00,6,4
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,,Niharika,NaN,NaN,6,10
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,,Niharika,409756.10,7785365.90,6,5
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,Niharika,NaN,NaN,NaN,NaN

In [31]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            591 non-null    object
 1   Team            591 non-null    object
 2   Position        584 non-null    object
 3   Height          585 non-null    object
 4   Weight          584 non-null    float64
 5   College         578 non-null    object
 6   Salary          488 non-null    float64
 7   nba             592 non-null    object
 8   My_Name         592 non-null    object
 9   Red_Salary      488 non-null    float64
 10  New_Red_Salary  488 non-null    float64
 11  Feet            585 non-null    object
 12  Inch            585 non-null    object
dtypes: float64(4), object(9)
memory usage: 60.3+ KB

In [32]:
nba.Feet.astype("float")

0      6.0
1      6.0
2      6.0
3      6.0
4      6.0
      ...
587    6.0
588    6.0
589    6.0
590    6.0
591    NaN
Name: Feet, Length: 592, dtype: float64

In [33]:
nba.Feet=nba.Feet.astype("float")
nba.Feet

0      6.0
1      6.0
2      6.0
3      6.0
4      6.0
      ...
587    6.0
588    6.0
589    6.0
590    6.0
591    NaN
Name: Feet, Length: 592, dtype: float64

In [34]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            591 non-null    object
 1   Team            591 non-null    object
 2   Position        584 non-null    object
 3   Height          585 non-null    object
 4   Weight          584 non-null    float64
 5   College         578 non-null    object
 6   Salary          488 non-null    float64
 7   nba             592 non-null    object
 8   My_Name         592 non-null    object
 9   Red_Salary      488 non-null    float64
 10  New_Red_Salary  488 non-null    float64
 11  Feet            585 non-null    float64
 12  Inch            585 non-null    object
dtypes: float64(5), object(8)
memory usage: 60.3+ KB

In [35]:
nba[["Feet","Inch"]]=nba[["Feet","Inch"]].apply(pd.to_numeric)

In [36]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            591 non-null    object
 1   Team            591 non-null    object
 2   Position        584 non-null    object
 3   Height          585 non-null    object
 4   Weight          584 non-null    float64
 5   College         578 non-null    object
 6   Salary          488 non-null    float64
 7   nba             592 non-null    object
 8   My_Name         592 non-null    object
 9   Red_Salary      488 non-null    float64
 10  New_Red_Salary  488 non-null    float64
 11  Feet            585 non-null    float64
 12  Inch            585 non-null    float64
dtypes: float64(6), object(7)
memory usage: 60.3+ KB

In [37]:
nba["Feet"]*30.48+nba["Inch"]*2.54

0      200.66
1      195.58
2      195.58
3      208.28
4      208.28
        ...
587    190.50
588    193.04
589    208.28
590    195.58
591       NaN
Length: 592, dtype: float64

In [38]:
nba["Height_in_centimetre"]=nba["Feet"]*30.48+nba["Inch"]*2.54
nba

,Name,Team,Position,Height,Weight,College,Salary,nba,My_Name,Red_Salary,New_Red_Salary,Feet,Inch,Height_in_centimetre
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,,Niharika,227849.15,4329133.85,6.0,7.0,200.66
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,,Niharika,935000.00,17765000.00,6.0,5.0,195.58
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,,Niharika,204712.20,3889531.80,6.0,5.0,195.58
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,,Niharika,1030800.00,19585200.00,6.0,10.0,208.28
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,,Niharika,129076.10,2452445.90,6.0,10.0,208.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,,Niharika,85993.20,1633870.80,6.0,3.0,190.50
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,,Niharika,512500.00,9737500.00,6.0,4.0,193.04
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,,Niharika,NaN,NaN,6.0,10.0,208.28
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,,Niharika,409756.10,7785365.90,6.0,5.0,195.58
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,Niharika,NaN,NaN,NaN,NaN,NaN

In [ ]:
#fake

In [39]:
#fake

In [41]:
#fake

In [42]:
nba["Salary"]>400000

0       True
1       True
2       True
3       True
4       True
       ...
587     True
588     True
589    False
590     True
591    False
Name: Salary, Length: 592, dtype: bool