In [1]:
import pandas as pd
import numpy as np

In [3]:
nba=pd.read_csv(r"C:\Users\nihar\Downloads\nba.csv")
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#drop whichever/selective rows have "na".

In [5]:
nba.dropna() #dropna drops all rows and columns with "na", thus, not selectively.

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
585,Eugene Omoruyi,Washington Wizards,F,6-6,235.0,Oregon,559782.0
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [6]:
nba.dropna(how="all") #dropna+how drops only those rows or columns that have "na" everywhere.

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [7]:
nba.dropna(how="any") #drops any columns/rows with na.

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
585,Eugene Omoruyi,Washington Wizards,F,6-6,235.0,Oregon,559782.0
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [8]:
nba.dropna(subset=["College"]) #College is a subset of dataset nba. This drops rows with na in College specifically.

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [9]:
#Note: to save these changes, save the dataset with a new variable name.

In [14]:
nba["Salary"]=nba["Salary"].fillna(0) #fills missing values or na values in Salary specifically.
nba

,Name,Team,Position,Height,Weight,College,Salary,salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,2581522.0
...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0,0.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0

In [16]:
nba["College"]=nba["College"].fillna("Unknown") #fills missing values in College using a string
nba

,Name,Team,Position,Height,Weight,College,Salary,salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,2581522.0
...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0,0.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,8195122.0
591,NaN,NaN,NaN,NaN,NaN,Unknown,0.0,0.0

In [17]:
nba.loc[:,["Name","Team","Position"]].head() #slices/prints specific columns.

                Name           Team Position
0         Saddiq Bey  Atlanta Hawks        F
1  Bogdan Bogdanovic  Atlanta Hawks        G
2        Kobe Bufkin  Atlanta Hawks        G
3       Clint Capela  Atlanta Hawks        C
4     Bruno Fernando  Atlanta Hawks      F-C

In [ ]:
# ':' indicates going to specific columns (like in indexing) and ',' is to separate values. head indicates to show rows from the top. you can specify how many rows you want to display in the brackets.

In [18]:
nba[["Name","Team","Position"]] #prints these 3 columns even without using loc

                  Name                Team Position
0           Saddiq Bey       Atlanta Hawks        F
1    Bogdan Bogdanovic       Atlanta Hawks        G
2          Kobe Bufkin       Atlanta Hawks        G
3         Clint Capela       Atlanta Hawks        C
4       Bruno Fernando       Atlanta Hawks      F-C
..                 ...                 ...      ...
587       Ryan Rollins  Washington Wizards        G
588      Landry Shamet  Washington Wizards        G
589   Tristan Vukcevic  Washington Wizards        F
590       Delon Wright  Washington Wizards        G
591                NaN                 NaN      NaN

[592 rows x 3 columns]

In [20]:
nba.loc[nba["Position"]=="G",["Name","Team","Position"]].head() #Wherever the Position is G, shows you those rows only

                 Name           Team Position
1   Bogdan Bogdanovic  Atlanta Hawks        G
2         Kobe Bufkin  Atlanta Hawks        G
5       Trent Forrest  Atlanta Hawks        G
10         Seth Lundy  Atlanta Hawks        G
11   Garrison Mathews  Atlanta Hawks        G

In [21]:
nba.loc[nba["Position"]=="G",["Name","Team","Position"]].head(10)

                 Name            Team Position
1   Bogdan Bogdanovic   Atlanta Hawks        G
2         Kobe Bufkin   Atlanta Hawks        G
5       Trent Forrest   Atlanta Hawks        G
10         Seth Lundy   Atlanta Hawks        G
11   Garrison Mathews   Atlanta Hawks        G
12    Wesley Matthews   Atlanta Hawks        G
13        Patty Mills   Atlanta Hawks        G
14    Dejounte Murray   Atlanta Hawks        G
17         Trae Young   Atlanta Hawks        G
20    Malcolm Brogdon  Boston Celtics        G

In [22]:
#add a new column and add an increase in salary by 5%

In [24]:
nba["Inc_Salary"]=nba["Salary"]*1.05  #Broadcasting
nba

,Name,Team,Position,Height,Weight,College,Salary,salary,Inc_Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,4556983.0,4784832.15
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,18700000.0,19635000.00
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,4094244.0,4298956.20
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,20616000.0,21646800.00
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,2581522.0,2710598.10
...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,1719864.0,1805857.20
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,10250000.0,10762500.00
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0,0.0,0.00
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,8195122.0,8604878.10
591,NaN,NaN,NaN,NaN,NaN,Unknown,0.0,0.0,0.00

In [25]:
nba["Salary"]*1.05

0       4784832.15
1      19635000.00
2       4298956.20
3      21646800.00
4       2710598.10
          ...
587     1805857.20
588    10762500.00
589           0.00
590     8604878.10
591           0.00
Name: Salary, Length: 592, dtype: float64

In [ ]:
#create a dataframe with random data and na values

In [33]:
data={"Region":["Asia",np.nan,"Europe",np.nan,"America",np.nan],"Country":["China","India","France","Italy","USA","Canada"],"Year":[2025,2023,2024,2022,2021,2025],"Sales":[20000,30000,40000,50000,60000,70000],"Profit":[300,400,500,600,700,800]}

In [34]:
df=pd.DataFrame(data)
df

    Region Country  Year  Sales  Profit
0     Asia   China  2025  20000     300
1      NaN   India  2023  30000     400
2   Europe  France  2024  40000     500
3      NaN   Italy  2022  50000     600
4  America     USA  2021  60000     700
5      NaN  Canada  2025  70000     800

In [30]:
nba.iloc[:10,3] #

0     6-7
1     6-5
2     6-5
3    6-10
4    6-10
5     6-4
6     6-6
7    6-11
8     6-8
9     6-8
Name: Height, dtype: object

In [35]:
nba["Salary"]>400000

0       True
1       True
2       True
3       True
4       True
       ...
587     True
588     True
589    False
590     True
591    False
Name: Salary, Length: 592, dtype: bool

In [ ]:
#Select salary where salary is >4000000 and <5500000

In [37]:
nba[(nba["Salary"]>4000000) & (nba["Salary"]<5500000)]

,Name,Team,Position,Height,Weight,College,Salary,salary,Inc_Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,4556983.0,4784832.15
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,4094244.0,4298956.20
30,Payton Pritchard,Boston Celtics,G,6-1,195.0,Oregon,4037277.0,4037277.0,4239140.85
56,James Bouknight,Charlotte Hornets,G,6-4,190.0,Connecticut,4570080.0,4570080.0,4798584.00
115,Josh Green,Dallas Mavericks,G,6-7,200.0,Arizona,4765339.0,4765339.0,5003605.95
144,Reggie Jackson,Denver Nuggets,G,6-2,208.0,Boston College,5000000.0,5000000.0,5250000.00
149,Zeke Nnaji,Denver Nuggets,F-C,6-9,240.0,Arizona,4306281.0,4306281.0,4521595.05
162,Jalen Duren,Detroit Pistons,C,6-11,250.0,Memphis,4330680.0,4330680.0,4547214.00
171,Isaiah Stewart,Detroit Pistons,F-C,6-8,250.0,Washington,5266713.0,5266713.0,5530048.65
225,Jalen Smith,Indiana Pacers,F-C,6-9,215.0,Maryland,5043773.0,5043773.0,5295961.65
247,Mason Plumlee,Los Angeles Clippers,F-C,7-0,254.0,Duke,5000000.0,5000000.0,5250000.00
264,Taurean Prince,Los Angeles Lakers,F,6-6,218.0,Baylor,4516000.0,4516000.0,4741800.00
269,Jarred Vanderbilt,Los Angeles Lakers,F,6-8,214.0,Kentucky,4698000.0,4698000.0,4932900.00
291,Ziaire Williams,Memphis Grizzlies,F,6-9,185.0,Stanford,4810200.0,4810200.0,5050710.00
337,Nickeil Alexander-Walker,Minnesota Timberwolves,G,6-5,205.0,Virginia Tech,4687500.0,4687500.0,4921875.00
348,Shake Milton,Minnesota Timberwolves,G-F,6-5,205.0,Southern Methodist,5000000.0,5000000.0,5250000.00
358,Jordan Hawkins,New Orleans Pelicans,G,6-5,190.0,Connecticut,4310196.0,4310196.0,4525705.80
384,Immanuel Quickley,New York Knicks,G,6-2,190.0,Kentucky,4171548.0,4171548.0,4380125.40
394,Ousmane Dieng,Oklahoma City Thunder,F,6-9,185.0,New Zealand Breakers,4798440.0,4798440.0,5038362.00
404,Aleksej Pokusevski,Oklahoma City Thunder,F,7-0,210.0,Olympiacos,5009633.0,5009633.0,5260114.65
407,Cason Wallace,Oklahoma City Thunder,G,6-4,195.0,Kentucky,5291352.0,5291352.0,5555919.60
411,Jalen Williams,Oklahoma City Thunder,G-F,6-5,211.0,Santa Clara,4558680.0,4558680.0,4786614.00
424,Jett Howard,Orlando Magic,G,6-8,215.0,Michigan,5026824.0,5026824.0,5278165.20
427,Chuma Okeke,Orlando Magic,F,6-8,229.0,Auburn,5266712.0,5266712.0,5530047.60
442,Furkan Korkmaz,Philadelphia 76ers,G-F,6-7,202.0,Anadolu Efes,5370370.0,5370370.0,5638888.50
443,Tyrese Maxey,Philadelphia 76ers,G,6-2,200.0,Kentucky,4343920.0,4343920.0,4561116.00
491,Chris Duarte,Sacramento Kings,G,6-5,190.0,Oregon,4124400.0,4124400.0,4330620.00
500,Davion Mitchell,Sacramento Kings,G,6-0,202.0,Baylor,5063640.0,5063640.0,5316822.00
524,Jeremy Sochan,San Antonio Spurs,F,6-8,230.0,Baylor,5316960.0,5316960.0,5582808.00
528,Precious Achiuwa,Toronto Raptors,F,6-8,225.0,Memphis,4379526.0,4379526.0,4598502.30
532,Gradey Dick,Toronto Raptors,G,6-8,205.0,Kansas,4536708.0,4536708.0,4763543.40
539,Jalen McDaniels,Toronto Raptors,F-C,6-9,205.0,San Diego State,4516000.0,4516000.0,4741800.00
549,Ochai Agbaji,Utah Jazz,G,6-5,215.0,Kansas,4114200.0,4114200.0,4319910.00
575,Johnny Davis,Washington Wizards,G,6-4,195.0,Wisconsin,5050800.0,5050800.0,5303340.00